# Sonar Quebe
# 25.5.0.107428-community - 25.3.0.104237-community  - 25.2.0.102705-community -  community  - latest
# validar y estar pendiente a las nuevas versiones https://hub.docker.com/_/sonarqube/tags?name=community
services:

  postgres:
    image: postgres:15
    container_name: postgres-sonarqube
    restart: always
    environment:
      POSTGRES_USER: sonarqube
      POSTGRES_PASSWORD: sonarpass
      POSTGRES_DB: sonarqube
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - code-parce-network
    deploy:
      resources:
        limits:
          memory: "350M"
          cpus: "0.5"

  sonarqube.code.parce.local:
    image: sonarqube:25.5.0.107428-community
    container_name: sonarqube.code.parce.local
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_conf:/opt/sonarqube/conf
      - sonar_extensions:/opt/sonarqube/extensions
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://postgres:5432/sonarqube
      - SONAR_JDBC_USERNAME=sonarqube
      - SONAR_JDBC_PASSWORD=sonarpass
      - SONAR_WEB_URL=https://nonrecurring-nonspiritedly-shanna.ngrok-free.dev #cambiar por la url de ngrok
      - SONAR_CORE_SERVERBASEURL=https://nonrecurring-nonspiritedly-shanna.ngrok-free.dev #cambiar por la url de ngrok
    networks:
      - code-parce-network
    depends_on:
      - postgres
    deploy:
      resources:
        limits:
          memory: "2g"
          cpus: "1"

networks:
  code-parce-network:
    name: code-parce-network

volumes:
  postgres_data:
  sonar_data:
  sonar_conf:
  sonar_extensions:


## pass del sonnar web:  Admin12345$%#$